.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
height: 100%;
}


main {
    height:80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__input {
    border-radius: 2px;
    width: 400px;
    height: 50px;
    border: transparent;
    background-color: rgb(240, 240, 240);
}

.app__button {
    background-color: rgb(190, 190, 190);
    font-family:Georgia, 'Times New Roman', Times, serif;
    height:3.3rem;
    margin-left: 0;
    border-radius: 1.2rem;
}

.app__todo__button {
    border-radius: 45%;
    margin: 15px 0 ;
}


.app__list{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.app__todo{
    display: flex;
    flex-direction: row;
}

.app__card {
    display: flex;
    background-color: #e8e8e4;
    box-shadow: 10px 5px 8px black;
    border-radius: 20px;
    margin-top: 5px;
}

.app__card__btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px;
    
}

.arrow_up {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(-135deg);
}


#checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
}

footer {
    height: 10%;
    background-color: magenta;
    color: black;
}