.header {
    background-color: rgb(235, 185, 178);
    padding-top: 15px;

}

.header__title {
    font-size: 50px;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 40%;
}