.todo {
    display: flex;
    background-color: #e8e8e4;
    box-shadow: 10px 5px 8px black;
    border-radius: 30px; */
    width: 600px;
    margin: 10px;
    padding: 10px 20px;
    justify-content: space-between;

}

.todo__done{
    display: flex;
    background-color: #55a630;
    box-shadow:10px 5px 8px black;
    border-radius: 30px;
    left: 10%;
    width: 600px;
    margin: 10px;
    padding: 10px 20px;
    justify-content:space-between;
    
}

.checkbox {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input[type="checkbox"] {
    height: 4rem;
    width: 4rem;
}
.todo__left{
    display: flex;
    justify-content: center;
}

.todo__right {
    display: flex;
}
.todo__sort{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}