.todo {
    display: inline-block;
    background-color: #e8e8e4;
    box-shadow: 10px 5px 8px black;
    border-radius: 30px;
    left: 10%;
    width: 600px;
    margin: 10px;
    padding: 10px 20px;

}

.todo__done{
    display: inline-block;
    background-color: #55a630;
    box-shadow:10px 5px 8px black;
    border-radius: 30px;
    left: 10%;
    width: 600px;
    margin: 10px;
    padding: 10px 20px;
    justify-content:flex-start;
    
}

#checkbox {
    margin-right: 5px;
}